body{
    margin: 0;
    padding: 0;
    background-color: salmon;
}

#maDiv{
    border: 1px solid black;
    height: 500px;
    /* margin-top: 10%;
    margin-right: 20%;
    margin-bottom: 10%;
    margin-left: 20%; */
    margin: 10% 20%;
    border-radius: 10px;
}

.men{
    border: 1px solid red;

}

li{
    display: inline-block;
    margin: 0px 10px;
}

a:hover{
    color: yellow;
    border: 2px solid green;
}